<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bignerdranch.android.haya">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".view.activities.ContactUsActivity"></activity>
        <activity android:name=".view.activities.FAQsActivity" />
        <activity android:name=".view.activities.BurnerCodeHistoryActivity" />
        <activity android:name=".view.activities.GroupChatSettingsUserActivity" />
        <activity android:name=".view.activities.GroupChatSettingsAdminActivity" />
        <activity android:name=".view.activities.OneToOneSettingsActivity" />
        <activity android:name=".view.activities.ChatActivity" />
        <activity android:name=".view.activities.JoinConversationActivity" />
        <activity android:name=".view.activities.RegistrationSuccessActivity" />
        <activity android:name=".view.activities.SigninActivity" />
        <activity android:name=".view.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activities.TermsActivity" />
        <activity android:name=".view.activities.RegistrationActivity" />
        <activity android:name=".view.activities.ContainerActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>